.containerDetails {
  padding-top: 120px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
  margin-bottom: 8px;
}
.wrapperDetails {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #101828;
}
.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #101828;
  margin-bottom: 28px;
}
.imageContainer {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.imageDetails {
  border-radius: 10px;
  width: 292px;
  /* height: 312px; */
  /* height: auto; */
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  max-width: 1312px;
  margin-bottom: 60px;
}
.iconStar:hover {
  color: yellow;
}

.detailsList {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}
.detailsLink {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}
.hr {
  height: 2px;
  stroke-width: 1px;
  color: #dadde1;
  margin-bottom: 44px;
}
.wrappDetails {
  display: flex;
  justify-content: space-between;
}
.link:focus {
  outline: none;
}
