.heroSection {
  background-image: url(../../img/hero-img.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.heroContainer {
  padding-top: 260px;
  padding-bottom: 260px;
  max-width: 1400px;
  margin: 0 auto;
}

.heroTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.7;
  color: #f7f7f7;
  margin-bottom: 16px;
}
.heroText {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #f7f7f7;
  margin-bottom: 40px;
}
.heroBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #ffffff;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: #e44848;
  border: none;
}
